@mixin button{
    width: 234px;
    height: 57px;
    padding: 1rem 0;
    background: #00A67E;
    border-radius: 5px;
    margin: 0;
    &:hover{
        background: #00A67E;
    }
    &-text{
        font-family: Source Sans Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
    }
}