body{
    background: #f9f9f9;
}
li{
    list-style: none;
    display: inline-block;
    color: #26247B;
}

.header-top{
    height: 50px;
    background: #FFFFFF;
}
.header-top__text{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #26247B;
}
.header-top__list{
    margin: 0 20px 0 0;
}
.header-top__item{
    margin: 15px 0 14px 0;
}

.header__nav {
    background: #26247B;
    box-shadow: 0px 10px 20px rgba(207, 207, 207, 0.25);
    height: 87px;
}
.header-nav__nav{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #6C6AC7;
}

.section-about{
    background: linear-gradient(249.42deg, #26247B 26.98%, #00A67E 74.95%);
    height: 489px;
    margin: 15px 0 0 0;
}
.section-about__figure{
    margin: 75px 0;
}
.section-about__imagen{
    width: 100%;
}
.section-about__title{
    font-family: Source Sans Pro;
    color: #00A67E;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin: 110px 0 7px 0;
}
.section-about__subtitle{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
}
.section-about__paragraph{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 28px 0 28px 0;
}

.button{
    width: 234px;
    height: 57px;
    padding: 18px 0 16px 0;
    background: #00A67E;
    border-radius: 5px;
    &:hover{
        background: #00A67E;
    }
}
.button__text{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}
