body{
    background: #f9f9f9;
}
li{
    list-style: none;
    display: inline-block;
    color: #26247B;
}

.header-top{
    height: 50px;
    background: #FFFFFF;
}
.header-top__text{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #26247B;
}
.header-top__list{
    margin: 0 20px 0 0;
}
.header-top__item{
    margin: 15px 0 14px 0;
}

.header-nav {
    background: #26247B;
    box-shadow: 0px 10px 20px rgba(207, 207, 207, 0.25);
    //height: 87px;
}
.header-nav__nav{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #6C6AC7;
}

.section-about{
    background: linear-gradient(249.42deg, #26247B 26.98%, #00A67E 74.95%);
    //height: 489px;
    //margin: 15px 0 0 0;
}
.section-about__container{
    padding: 5rem 0 5rem 0;
}
.section-about__figure{
    //margin: 75px 0;
}
.section-about__imagen{
    width: 100%;
    padding: 17px 0 16px 0;
}
.section-about__title{
    @include title;
}
.section-about__subtitle{
    @include subtitle;
}
.section-about__paragraph{
    @include paragraph;
    color: #FFFFFF;
    margin: 28px 0 28px 0;
}

.button{
    @include button;
}

.section-services__card{
    box-shadow: 10px 10px 50px rgba(207, 207, 207, 0.3);
    border-radius: 0px 0px 5px 5px;
}
.section-services__title{
    @include title;
    padding: 0 0 .5rem 0;
}
.section-services__subtitle{
    @include subtitle;
    color: #2E2E2E;
    padding: 0 0 3rem 0;
}

.section-services__container{
    padding: 2.5rem 0;
}
.section-services__card-title{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    padding: 17px 0 14px 0;
    color: #2E2E2E;
}
.section-services__card-paragraph{
    @include paragraph;
    color: #5A5A5A;
    margin: 0;
    padding-bottom: 30px;
}