body{
    background: #ffffff;
    font-family: Source Sans Pro;
}
li{
    list-style: none;
    display: inline-block;
    color: #26247B;
}

.header-top{
    background: #FFFFFF;
}
.header-top__text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    color: #26247B;
    &-link{
        color:#26247B;
        font-size: 18px;
    }
    &-link:hover{
        color: #26247B;
    }
}
.header-top__list{
    margin: 0 20px 0 0;
}
.header-top__item{
    margin: 15px 0 14px 0;
}

.header-nav {
    background: #26247B;
    box-shadow: 0px 10px 20px rgba(207, 207, 207, 0.25);
    //height: 87px;
}
.header-nav__nav{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #6C6AC7;
}

.section-about{
    background: linear-gradient(249.42deg, #26247B 26.98%, #00A67E 74.95%);
    //height: 489px;
    //margin: 15px 0 0 0;
}
.section-about__container{
    padding: 5rem 0 5rem 0;
}
.section-about__imagen{
    width: 100%;
    padding: 17px 0 16px 0;
}
.section-about__title{
    @include title;
}
.section-about__subtitle{
    @include subtitle;
    color: #FFFFFF;
}
.section-about__paragraph{
    @include paragraph;
    color: #FFFFFF;
    margin: 28px 0 28px 0;
}

.button{
    @include button;
}

.section-services__card{
    box-shadow: 10px 10px 50px rgba(207, 207, 207, 0.3);
    border-radius: 0px 0px 5px 5px;
}
.section-services__title{
    @include title;
    padding: 0 0 .5rem 0;
}
.section-services__subtitle{
    @include subtitle;
    color: #2E2E2E;
    padding: 0 0 3rem 0;
}

.section-services__container{
    padding: 2.5rem 0 2.5rem 0;
}
.section-services__card-conainer {
    padding: 0 1rem;
}
.section-services__card-title{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    padding: 17px 0 14px 0;
    color: #2E2E2E;
}
.section-services__card-paragraph{
    @include paragraph;
    color: #5A5A5A;
    margin: 0;
    padding-bottom: 30px;
}
.section-services__button{
    @include button;
    margin-top: 2.5rem;
}

.section-blog__title{
    @include title;
    padding: 0 0 .5rem 0;
}
.section-blog__subtitle{
    @include subtitle;
    padding-bottom: 3rem;
}
.section-blog__card{
    background: #FFFFFF;
    box-shadow: 10px 10px 50px rgba(207, 207, 207, 0.3);
    border-radius: 0px 0px 5px 5px;
}
.section-blog__card-title{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #2E2E2E;
    padding: 17px 0 14px 0;
}
.section-blog__card-paragraph{
    @include paragraph;
    color: #5A5A5A;
    margin: 0;
    padding-bottom: 30px;
}
.section-blog__card-time{
    @include paragraph;
    color: #5A5A5A;
    font-weight: 600;
}

.section-blog__container{
    padding: 2.5rem 0 2.5rem 0;
}
.section-blog__blog-car-container{
    padding: 0 1rem;
}
.section-blog__button{
    @include button;
    margin-top: 2.5em;
    margin-bottom: 2.5rem;
}

.footer{
    background: #26247B;
}
.footer__title{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 30px;
}
.footer__paragraph{
    @include paragraph;
    color: #FFFFFF;
    padding: 1rem 0;
}
.footer__figure{
    display: inline-block;
}
.footer__container{
    padding: 2.5rem 0; /**/
}
.footer__link{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    &:hover{
        color: #ffffff;
    }
}
.footer__item{
    background: #18166C;
    border-radius: 5px;
    //padding: 12px 16px 12px 16px;
    margin-bottom: 23px;
    width: 251px;
    padding: 15px 10px;
    &:last-child{
        margin-bottom: 0;
    }
}
.footer__text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.footer__icon{
    color: #FFFFFF;
    padding-right: 10px;
    font-size: 18px;
}




.footer-bottom{
    //height: 50px;
    background: #18166C;;
}
.footer-bottom__text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    &-link{
        font-weight: bold;
        color: #FFFFFF;
    }
    &-link:hover{
        color: #FFFFFF;
    }
}
.footer-bottom__item{
    margin: 20px 0;
}